body {
  margin: 0;
  background-color: #7BD9B0;
  font-family: monospace;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1, h2, p {
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.container h1 {
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.input-tarefa {
  display: flex;
  gap: 10px;
  width: 100%;
}
.input-tarefa input {
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  border: 0;
  font-family: monospace;
  font-size: 1.2rem;
}
.input-tarefa input:focus{
  outline: solid #47458C;
}
.input-tarefa button {
  padding: 10px;
  box-sizing: border-box;
  border: 0px;
  font-family: monospace;
  font-size: 1.3rem;
  border-radius: 4px;
  background-color: #5CB364;
  color: #FFFFFF;
}
.input-tarefa button:hover {
  background-color: #53a35b;
}
.input-tarefa button:active {
  background-color: #64be6d;
}
.lista-tarefas {
  margin-top: 20px;
  width: 100%;
}
.lista-tarefas li {
  background-color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.lista-tarefas li .setas {
  display: flex;
  flex-direction: column;
  max-width:max-content;
  gap: 10px;
}
.lista-tarefas li .setas button {
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
}
.lista-tarefas li span {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 4px;
}
.lista-tarefas li input {
  font-family: monospace;
  width: 100%;
  padding: 10px 5px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}
.lista-tarefas li .button-apaga, .lista-tarefas li .button-edita{
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
}

.lista-tarefas li .button-edita {
  background-color: #ffca3a;
}
.lista-tarefas li .button-apaga {
  background-color: #ff595e;
}
.lista-tarefas li .button-edita:hover {
    background-color: #f5c238;
}
.lista-tarefas li .button-apaga:hover {
  background-color: #f35358;
}